h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	background: #eeeeee;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a {
	color: #1B242F;
}
a:hover,
a:focus {
  color: #E74C3C;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/*-- header_top --*/
.top_bg{
	background: #252525;
}
.header_top{
	padding:15px 0 5px;
}
.top_left{
	float: right;
}
.top_left h2{
	text-transform:uppercase;
	font-size:12px;
	color:#ffffff;
}
.top_left h2 span {
  color: #000000;
  margin-right: 0px;
  padding: 1px 10px;
  background: url(../images/phon.png) no-repeat 0px 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.top_right{
	float:left;
	color: #ffffff;
	margin-top: -5px;
}
.top_right ul{
	padding:0;
	list-style:none;
}
.top_right ul li{
	display: inline-block;
	margin-right: 10px;
}
.top_right ul li:last-child{
	margin-right: 0;
}
.top_right ul li a{
	text-align:center;
	padding: 0px 4px;
	text-transform:uppercase;
	font-size:12px;
	display:block;
	color:#ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.top_right ul li a:hover{
	color:#ff6978;
	text-decoration: none;
}

/********** Login *************/
#loginContainer {
    position:relative;
}
#loginContainer a span {
  display: block;
  padding: 2px 14px;
  border: 1px solid #555;
  font-weight: 300;
}
/* Login Button */
#loginButton {
    display:inline-block;
    position:relative;
    z-index:30;
    cursor:pointer;
}
/* Login Box */
#loginBox {
    position:absolute;
	top: 44px;
	right: 0px;
    display:none;
    z-index:29;
}
#loginForm:after {
	content: '';
	position: absolute;
	right: 25px;
	top: -10px;
	border-left:10px solid rgba(0, 0, 0, 0);
	border-right:10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid #f0f0f0;
}
/* Login Form */
#loginForm {
   width: 300px;
	background: #fff;
	border: 1px solid #d6d6d6;
}
#loginForm fieldset {
    margin:0 0 15px 0;
    display:block;
    border:0;
    padding:0;
}
fieldset#body {
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    padding:15px 15px;
    margin:0;
}
#loginForm #checkbox {
    width:auto;
    margin:3px 6px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}
#body label {
    color:#000;
    margin:10px 0 0 0;
    display:block;
    float:left;
    font-size:0.8725em;
}
#loginForm #body fieldset label{
    display:block;
    float:none;
    margin:0 0 6px 0;
}
#body label i{
	color:#000;
	font-size:1em;
	font-style:normal;
}
/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #DADADA;
	color: #222;
	background:#FFF;
    padding:6px;
	font-size: 0.8125em;
    -webkit-apperance:none;
    font-family: 'Open Sans', sans-serif;
}
/* Sign In Button */
#loginForm #login {
	font-family: 'Open Sans', sans-serif;
	width: auto;
	float: left;
	background:#e60d2d;
	color: #fff;
	font-size: 0.8725em;
	padding: 8px 20px;
	border: none;
	margin: 0 12px 0 0;
	cursor: pointer;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
}
#loginForm #login:hover {
	background: #00405d;
}
/* Forgot your password */
#loginForm span{
    display:block;
    padding:0px 0px 15px 17px;
}
#loginForm span a{
	color:#000;
	font-size:0.85em;
    font-weight:500;
    background: none;
	border: none;
	box-shadow: none;
}
#loginForm span a:hover{
	text-decoration:underline;
}
input:focus {
    outline:none;
}
/*-- header --*/
.logo {
  float: left;
  margin: 1.5em 0;
}
.header_right {
  float: right;
  width: 40%;
}
.head-t {
  padding: 1em 0;
}
/*search*/
.search{
	position: relative;
	background: #f3f4f5;
	border: 1px solid #D8D8D8;
}
.search form{
	width:100%;
}
.search input[type="text"]{
	margin:0px 0;
	font-family: 'Open Sans', sans-serif;
	padding:8px 16px;
	outline: none;
	color: #5a5a5a;
	background: none;
	border: none;
	width:85.33333%;
	line-height: 1.5em;
	position: relative;
	font-size: 0.8725em;
	-webkit-appearance: none;
	text-transform: capitalize;
}
.search input[type="text"]:hover{
	background: #ffffff;
}
.search input[type="submit"]{
	background: url('../images/search.png') no-repeat 0px 1px;
	border: none;
	cursor: pointer;
	width: 24px;
	outline: none;
	position: absolute;
	height: 24px;
	top: 6px;
	right: 5px;
}
.log {
  float: left;
  width: 19%;
}
.reg {
  float: left;
  width: 20%;
  margin: 5px 0;
}
.img-responsive {
	display: initial;
}
.header .logo .logo-text {
	font-size: 40px;
	color: #e60d2d;
	text-decoration: none;
	font-weight: bold;
	text-shadow: -1px 2px 3px #383838;
}
.header_right {
	padding-top: 15px;
}
.header_right .search {
	margin-top: 15px;
}
.header_right .go-home {
	text-align: right;
}
.header_right .go-home a{
	margin-left: 10px;
}
.head-t {
	position: relative;
	min-height: 200px;
}
.head-t .site-slogan {
	margin-top: 15px;
	color: #383838;
	font-weight: bold;
	font-style: italic;
	font-size: 36px;
	position: absolute;
	bottom: 30px;
	left: 21%;
}
#footer {
	background: #383838;
	padding: 20px 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#footer a{
	color:#e60d2d ;
}
#footer a:hover{
	color: #fff;
}
#footer .text-right {
	color:#fff;
}
#main-menu {
	background: #383838;
}
#main-menu .collapse.navbar-collapse,
#main-menu .navbar.container {
	bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
#main-menu .navbar-header {
	bottom: 0;
}
#main-menu .navbar.container ul.nav.navbar-nav li.active {
	background: #fff;
}
#main-menu .navbar.container ul.nav.navbar-nav li a:hover {
	background: transparent;
}
#main-menu .navbar.container ul.nav.navbar-nav li.active a:hover {
	background: #fff;
}
#main-menu .navbar.container ul.nav.navbar-nav li a {
	color:#e60d2d;
	font-weight: 600;
	font-size: 13px;
}
#main-menu .lang-group {
	margin-top: 10px;
}
#main-menu .lang-group .dropdown-menu {
	min-width: 67px;
}
#main-menu .lang-group .btn {
	background: #fff;
	color: #e60d2d;
}
#main-menu .lang-group .btn .caret {
	color: #e60d2d;
}
.row.auth .page-title h1 {
	text-align: center;
}
.page-title h1 {
	margin: 10px 0;
}
#image-preview {
	width: 300px;
	height: 300px;
	position: relative;
	overflow: hidden;
	background-color: #ffffff;
	color: #ecf0f1;
}
#image-preview input {
	line-height: 200px;
	font-size: 200px;
	position: absolute;
	opacity: 0;
	z-index: 10;
}
#image-preview label {
	position: absolute;
	z-index: 5;
	opacity: 0.8;
	cursor: pointer;
	background-color: #bdc3c7;
	width: 200px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	text-transform: uppercase;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
}
.form-group label {
	color: #e60d2d;
	font-size: 13px;
	font-weight: 600;
}
.my1-panel {
	overflow: hidden;
	margin-bottom: 15px;
	padding: 10px;
	background: #fff;
	border: 1px solid #e7e7e7;
	border-bottom: 1px solid #c8c8c8;
	box-shadow: 0 1px 0 #e7e7e7;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.my1-panel .col-sm-6{
	padding-left: 0;
	padding-right: 0;
}
.header_bg {
	background: #fff;
}
#saveBtn {
	margin: 0 auto;
	background: #e60d2d;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 5px 25px 5px 25px;
}
#category-sidebar ul,
#profile-sidebar ul {
	padding: 0;
	margin: 0;
	list-style: none;
	border-bottom: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	box-shadow: 1px 1px 0px #e3e3e3;
	position: relative;
}
#category-sidebar ul li a,
#profile-sidebar ul li a {
	display: block;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #f0f0f0;
	padding: 5px;
}
#category-sidebar ul li a:hover,
#profile-sidebar ul li a:hover {
	background: #f0f1f4;
	color: #1B242F;
}
#category-sidebar ul li a span,
#profile-sidebar ul li a span {
	display: inline-block;
	vertical-align: middle;
}
#category-sidebar ul li a span.icon,
#profile-sidebar ul li a span.icon {
	margin-right: 5px;
}
.container.advertisements-page {
	margin-bottom: 50px;
}
.advertisements-items .item {
	background: #fff;
	border: 1px solid #e7e7e7;
	border-bottom: 1px solid #c8c8c8;
	box-shadow: 0 1px 0 #e7e7e7;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-bottom: 15px;
	padding: 5px;
	position: relative;
}
.advertisements-items .item.item-top {
	background: #c3ffb8;
}
.advertisements-items .item.item-blocked {
	background: rgba(128, 112, 102, 0.31);
}
.advertisements-items .item.item-top .center .unique-status {
	color: #0e8016;
}
.advertisements-items .item .top img {
	max-width: 70px;
	float: left;
	margin-right: 7px;
}
.advertisements-items .item .top p.name {
	color: #5a5a5a;
	font-size: 16px;
	font-weight: 600;
}
.advertisements-items .item .top .phone {
	background: #e60d2d;
	color: #fff;
	border-radius: 3px;
	font-size: 13px;
	padding: 2px 5px;
}
.advertisements-items .item .center {
	clear: both;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	padding: 10px 0;
	border-bottom: 1px solid #e9e9e9;
}
.advertisements-items .item .center .unique-status {
	position: absolute;
	font-weight: bold;
	font-size: 15px;
	top: 5px;
	right: 5px;
	color:#e60d2d;
}
.advertisements-items .item .subject-panel {
	overflow: hidden;
	padding: 10px 0;
}
.advertisements-items .item .subject-panel .col-sm-3 {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	list-style: none;
}
.advertisements-items .item .subject-panel li.created_at {
	font-style: italic;
	color:#383838;
}
.advertisements-items .item .subject-panel li.more a {
	color: #e60d2d;
	padding: 4px 10px;
	border-radius: 3px;
}
.advertisements-items .item .subject-panel li.more a:hover {
	background: #e60d2d;
	color: #fff;
	border: 1px solid #410807;
}
a.advert_create {
	background: rgb(241,241,241);
	background: -moz-linear-gradient(top, rgba(241,241,241,1) 50%, rgba(233,233,233,1) 50%, rgba(233,233,233,1) 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(241,241,241,1)), color-stop(50%,rgba(233,233,233,1)), color-stop(50%,rgba(233,233,233,1)));
	background: -webkit-linear-gradient(top, rgba(241,241,241,1) 50%,rgba(233,233,233,1) 50%,rgba(233,233,233,1) 50%);
	background: -o-linear-gradient(top, rgba(241,241,241,1) 50%,rgba(233,233,233,1) 50%,rgba(233,233,233,1) 50%);
	background: -ms-linear-gradient(top, rgba(241,241,241,1) 50%,rgba(233,233,233,1) 50%,rgba(233,233,233,1) 50%);
	background: linear-gradient(to bottom, rgba(241,241,241,1) 50%,rgba(233,233,233,1) 50%,rgba(233,233,233,1) 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e9e9e9',GradientType=0 );
	font-size: 16px;
	font-family: "Open Sans Semibold";
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	box-shadow: inset 0 1px 0 #fff;
	color: #6b6b6b;
	width: 100%;
	display: block;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 15px;
}
a.advert_create:hover {
	background: #e9e9ea;
}
.top li.dropdown {
	list-style: none;
	position: absolute;
	right: 25px;
	margin-top: 10px;
	top: 0;
}
.top li.dropdown ul.dropdown-menu {
	border: 0;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	box-shadow: none;
	margin-top: 10px;
	padding-right: 20px;
	right: 0;
	left: initial;
}
.top li.dropdown ul.dropdown-menu li {
	padding-left: 5px;
}
.top li.dropdown ul.dropdown-menu li a {
	font-size: 12px;
	color: #636465;
	width: 100%;
	padding: 4px 10px;
	display: inline-block;
}
.my2-panel {
	background: #f8f8f8;
	border: 1px solid #e5e5e5;
	border-top: 0;
	border-bottom: 1px solid #b1b1b1;
	box-shadow: 0px 2px 4px -2px #c0c0c0;
	border-radius: 2px;
}
.form-group.max-50 .form-control {
	max-width: 50%;
}
#comment-form form {
	padding: 15px;
}
#comment-form h3 {
	background: #f4f4f4;
	color: #6e7185;
	border-bottom: 1px solid #cbcbcb;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 12px 20px;
	margin: 0;
	overflow: hidden;
}
#comment-form form .form-control {
	color: #acabab;
	font-size: 12px;
	border-radius: 0;
	border: 1px solid #cacaca;
	resize: none;
}
#comment-form .has-error .form-control {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
#comment-form h3 .my-photo {
	max-width: 50px;
	float: left;
	margin-right: 10px;
}
#comment-form h3 .my-photo img {
	border-radius: 180px;
}
#comment-form h3 .f-title {
	margin-top: 15px;
}
#advertisement-info .top .i-am img {
	max-width: 100px;
	float: left;
	margin-right: 7px;
}
#advertisement-info .top .i-am p.name {
	color: #5a5a5a;
	font-size: 16px;
	font-weight: 600;
}
#advertisement-info .top .i-am .phone {
	background: #e60d2d;
	color: #fff;
	border-radius: 3px;
	font-size: 13px;
	padding: 2px 5px;
}
#advertisement-info .center {
	clear: both;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	padding: 10px 0;
	border-bottom: 1px solid #e9e9e9;
}
#advertisement-info .center .field-description {
	text-align: left;
	margin-top: 10px;
	font-size: 14px;
	font-weight: 100;
}
#advertisement-info .subject-panel li {
	list-style: none;
	padding-top: 10px;
}
button#ShowMessageModal {
	font-size: 13px;
	border: 0;
	margin-top: 5px;
}
.comments-items .my3-panel {
	position: relative;
	background: #f4f4f4;
	border-bottom: 1px solid #cbcbcb;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	padding: 10px;
	overflow: hidden;
}
.comments-items .item .top .i-am img {
	max-width: 70px;
	float: left;
	margin-right: 10px;
	border-radius: 180px;
}
.comments-items .item .top p.name {
	color: #5a5a5a;
	font-size: 16px;
	font-weight: 600;
}
.comments-items .item .top .phone {
	background: #e60d2d;
	color: #fff;
	border-radius: 3px;
	font-size: 13px;
	padding: 2px 5px;
}
.comments-items .item.selected {
	border-bottom: 1px solid #e60d2d;
	border-left: 1px solid #e60d2d;
}
.comments-items .item .center {
	clear: both;
	padding-top: 10px;
}
.comments-items .item .center .field-price {
	color: #e60d2d;
	font-size: 16px;
	font-weight: 600;
}
.comments-items .item .subject-panel li {
	padding-top: 10px;
	list-style: none;
}
#MessageModal #Mphoto {
	max-width: 50px;
	border-radius: 180px;
	float: left;
	margin-right: 7px;
}
#MessageModal .modal-header {
	background: #e60d2d;
}
#MessageModal .modal-header .tt{
	color: #fff;
	padding-top: 15px;
}
#MessageModal #Mname {
	font-weight: 600;
}
#MessageModal .form-group textarea {
	color: #acabab;
	font-size: 14px;
	border-radius: 0;
	border: 1px solid #cacaca;
	resize: none;
}
table.sa-table-info th {
	font-size: 12px;
}
table.sa-table-info tr td:nth-child(1),
table.sa-table-info tr td:nth-child(2){
	font-size: 13px;
}
table.sa-table-info tr td:nth-child(3){
	font-size: 11px;
}
#profile-sidebar {
	margin-bottom: 20px;
}
#messages-items .item {
	position: relative;
	padding: 20px;
	overflow: hidden;
	background: #98880c;
	margin-bottom: 15px;
}
#messages-items .item .right {
	float: right;
	width: 100px;
	text-align: center;
}
#messages-items .item .right img {
	border-radius: 180px;
	max-width: 70px;
}
#messages-items .item .field-created {
	position: absolute;
	top: 2px;
	left: 5px;
	font-size: 12px;
	color: #eee;
}
#a1-baner,#b1-baner,#b2-baner {
	margin-bottom: 15px;
	text-align: center;
}
#a1-baner img ,#b1-baner img,#b2-baner img {
	display: initial;
}
#advert-block {
	background: #E7E7E7;
	border-bottom: 1px solid #cbcbcb;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	overflow: hidden;
	margin-bottom: 15px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
#advert-block .block-header {
	padding-top: 7px;
	padding-bottom: 7px;
	color: #fff;
	background: #e60d2d;
	text-align: center;
}
#advert-block .block-content {
	padding: 7px;
}
#advert-block .block-content .item {
	margin-bottom: 10px;
}
#advert-block .block-content .item .field-title {
	font-weight: 600;
	text-decoration: underline;
}
#advert-block .block-content .item .field-user {
	color: #5a5a5a;
	font-size: 13px;
}
#advert-block .block-content .item .field-date {
	font-size: 12px;
}
#category-sidebar {
	margin-bottom: 15px;
}
.no-pad {
	padding-left: 0;
	padding-right: 0;
}
.front #category-sidebar li.no-pad a {
	font-size: 13px;
	text-transform: uppercase;
}
#valut-block {
	margin-top: 15px;
}
.front #category-sidebar {
	overflow: hidden;
}
#a1-baner {
	margin-top: 15px;
}

.css-input input {
	position: absolute;
	opacity: 0;
}
.css-checkbox-warning input:checked + span {
	background-color: #e60d2d;
	border-color: #f3b760;
}
.css-checkbox input + span {
	width: 30px;
	height: 30px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
	padding-top: 5px;
}
.css-input input + span {
	position: relative;
	display: inline-block;
	margin-top: -2px;
	margin-right: 3px;
	vertical-align: middle;
}
.css-input span.fa-check {
	color:#fff;
	text-align: center;
}

@media (max-width: 767px) {
	.head-t .site-slogan {
		display: none;
	}
	.header_right {
		float: right;
		width: 100%;
	}
	#main-menu button.navbar-toggle {
		background: #fff;
	}
	#main-menu button.navbar-toggle .icon-bar {
		background: #383838;
	}
	.header_right .search {
		margin-bottom: 15px;
	}
}



